{% extends 'base.html' %}
{% block title %}Passord Reset Complete{% endblock title %}
{% block content %}
<style>
      .logo {
    width: 180px;
    height: 72px;
    margin-top: -5px;
    }

    .header {
        height: 80px;
        padding-top: 30px;
        width: 100%;
        padding-right: 10px;
    }
    @media (max-width: 767px) {
    .header {
        height: 70px;
        padding: 0;
    }

    .logo {
        width: 180px;
        height: 72px;
        margin-top: -4px;
        }

    .navbar-toggler {
        display: inline;
        position: absolute;
        right: 0px;
        top: 32px;
        font-size: 25px;
    }

    .fa-bars, .fa-xmark {
        
        color: #374150;
        font-size: 25px;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: none;
        cursor: pointer;
        padding: 5px;
        background-color: #ECEFF1;
    }

    .closeIcon {
         display: none;
    }

    .menu {
        position: fixed;
        transform: translateY(-100%);
        /* transition: transform 0.2s; */
        z-index: 99;
        background: #ECEFF1;
        color: white;
        list-style: none;
        padding-top: 1rem;
    }

    .showMenu {
        transform: translateY(0);
        height: 50px;
        background-color: #ECEFF1;
    }

    .welcome-msg {
        margin: 0 auto;
        top: 40px;
        position: absolute;
        
    }
}
</style>
<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been successfully reset. You may go ahead and <a href="{% url 'login' %}" class="text-decoration-none">Sign-in</a> now.</p>
	</div>
</div>
{% endblock %}