{% extends 'base.html' %}
{% block title %} Message {% endblock title %}

{% block content %}
<style>
    .header {
            margin-bottom: 20px;
        }
</style>
    <div class="container">
        <div class="d-flex flex-column">
            <p class="mx-auto">Must be authenticated to view this page</p>
            <p class="mx-auto">
                <a href="{% url 'register' %}">Register</a> or
                <a href="{% url 'login' %}">Login</a>
            </p>
        </div>
    </div>

{% endblock content %}